*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	background-color: paleturquoise;
}
h1{
	align-items: center;
	color:rgb(153, 43, 226);
    margin-right: 100px;
    padding-left: 560px;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    color: rgb(255, 123, 0);
    font-size: 30px;
    font-style:oblique;
    padding-left: 5px;
}
p{
	color: rgb(30, 4, 148);
    padding-left: 20px;
    font-size: 25px;
}
img{
	width: 900px;
	height: 350px;
    padding: 10px;
    padding-left:400px ;
}